.create {
  color: #555;
  max-width: 480px;
  margin: 60px auto;

  label span {
    display: block;
    margin: 30px 0 10px;
  }

  p {
    margin-top: 10px;
    font-size: .8em;
  }

  button {
    display: block;
    width: 100px;
    font-size: 1em;
    color: #fff;
    padding: 8px 20px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin: 20px auto;
  }

  .ingredients {
    display: flex;
    align-items: center;

    button {
      margin: 0 0 0 10px;
    }
  }
}

.create.dark {
  color: #e4e4e4;
}

.purple {
  color: #58249c;
}

.red {
  color: #b70233;
}

.green{
  color: #249c6b;
}

.btn-purple {
  background-color: #58249c;
}

.btn-red {
  background-color: #b70233;
}

.btn-green{
  background-color: #249c6b;
}
